.input-component__field-wrapper {
    position: relative;
}
// .wrong-email {
//     width: 30px;
//     height: 30px;
//     background-color: #ff0000;
//     color: #ffffff;
//     border-radius: 50%;
//     text-align: center;
//     font-weight: 900;
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     font-size: 21px;
// }
.advantages {
    background-color: #ffffff;
    height: 100vh;
    &-title {
        @include flex-view(column, center, center);
    }
    &-name {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        color: #010101;
        padding-top: 118px;
        padding-bottom: 17px;
    }
    &-description {
        text-align: center;
        color: #313841;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
    &-items {
        @include flex-view(row, space-around, center);
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
    }
    &-item {
        padding-top: 88px;
        padding-left: 70px;
        position: relative;
        &:first-child:before {
            content: url(../img/advantages/icon-font-1.png);
            position: absolute;
            top: 88px;
            left: 1px;
        }
        &:nth-child(2):before {
            content: url(../img/advantages/icon-font-31.png);
            position: absolute;
            top: 88px;
            left: 0px;
        }
        &:nth-child(3):before {
            content: url(../img/advantages/icon-font-21.png);
            position: absolute;
            top: 88px;
            left: 1px;
        }
        &:nth-child(4):before {
            content: url(../img/advantages/icon-font-4.png);
            position: absolute;
            top: 88px;
            left: 0px;
        }
        &:nth-child(5):before {
            content: url(../img/advantages/icon-font-3.png);
            position: absolute;
            top: 88px;
            left: 0px;
        }
        &:nth-child(6):before {
            content: url(../img/advantages/icon-font-2.png);
            position: absolute;
            top: 88px;
            left: 1px;
        }
    }
    &-item__title {
        color: #010101;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 15px;
    }
    &-item__description {
        color: #898989;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        width: 200px;
    }
}

@media (max-width: 1148px) { 
    .advantages-items {
        width: 90%;
    }
}


@media (max-width: 940px) { 
    .advantages {
        height: 100%;
        padding-bottom: 50px;
    }
    .advantages-items {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
    .advantages-description {
        padding: 0 5%;
    }
}

